{% extends "base.html" %}

{% block title %}Главная - Генератор Тестов{% endblock %}

{% block content %}
    <h2>Добро пожаловать в прототип приложения для генерации тестов!</h2>
    <p>Это приложение позволяет создавать вопросы, генерировать из них тесты и проходить их с автоматической проверкой.</p>
    
    <h3>Основные возможности:</h3>
    <ul>
        <li><a href="{{ url_for('admin_bp.manage_questions_page') }}">Управление банком вопросов</a>: добавляйте, редактируйте и удаляйте вопросы.</li>
        <li><a href="{{ url_for('quiz_bp.start_new_test_page') }}">Генерация и прохождение теста</a>: создайте новый тест на основе существующих вопросов и проверьте свои знания.</li>
    </ul>
{% endblock %}